
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;;
}

.section1{
    background-color: #1f2937; 
}

#header-logo{
    font-size: 40px;
    color: whitesmoke;
}

.header-link{
    font-size: 18px;
    color: whitesmoke;
    margin: 10px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.navbar{
    display: flex;
    flex-direction: row;
}

.navbar-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: whitesmoke;
}

.content{
    display: flex;
    margin: 30px;

}

.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 200px;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

img{
    margin-bottom: 50px;
}

.p-first{
    font-size: 20px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.sign-up-first-section{
    background-color: #3882f6;
    color: whitesmoke;
    width: 100px;
    height: 40px;
    border: 1px;
    border-color: #3882f6;
    border-radius: 10px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.row-of-divs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 200px;
    margin-top: 50px;
    align-items: center;

}

.box-box{ 
    border: 5px solid  #1f2937;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-second{
    text-align: center;
    font-size: 18px;
}

.section3{
    background-color: #e5e7eb;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h3{
    font-size: 34px;
    font-style: italic;
    font-weight: light;
    color: #1f3927;
    text-align: center;
}

.p-third{
    font-size: 20px;
    text-align: end;

}

#p-div{
    display: flex;
    justify-content: flex-end;
    margin-right: 400px;
}
